objs/
dist/README-SDL.txt
dist/SDL2.dll
dist/car-race
dist/car-race.exe
dist/car-race.ilk
dist/car-race.pdb
sprites/pack-sprites
sprites/pack-sprites.exe
sprites/pack-sprites.ilk
sprites/pack-sprites.pdb
sprites/car-race/
